:root {
    --light-body: #FEFEFE;
    --light-profile_User-border: #000000;
    --light-profile_options_button: #FEFEFE;
    --light-profile_options_button_svg: #444444;
    --light-profile_options_button_svg_hover: #000000;
    --light-login_column_svg: #444444;
    --light-data-name_after: #444444;
    --light-data-name_hover_after: #000000;
    --light-setting_Button_span: #444444;
    --light-setting_options_button: #FEFEFE;
    --light-setting_options_button_svg: #444444;
    --light-setting_options_button_svg_hover: #000000;
    --light-search_input: rgb(227, 171, 14);
    --light-search_input_2: #FEFEFE;
    --light-search_input_3: #444444;
    --light-wrap_search_label: #444444;
    --light-ctr_3-stroke: #444444;
    --light-elps_fill_4: #FEFEFE;
    --light-elps_stroke_4: #444444;
    --light-extradition: #FEFEFE;
    --light-extradition_2: #E3AB0E;
    --light-extradition_svg_1: 1.5px solid #7D7D7D;
    --light-extradition_svg_2: #FEFEFE;
    --light-extradition_svg_svg: #444444;
    --light-extradition_text: #444444;
    --light-extradition_text_hover: #000000;

}

body {
    --body: #02010C;
    --profile_User-border: #ffffff;
    --profile_options_button: #02010C;
    --profile_options_button_svg: #c2c2c2;
    --profile_options_button_svg_hover: #ffffff;
    --login_column_svg: #e9e9e9;
    --data-name_after: #c2c2c2;
    --data-name_hover_after: #ffffff;
    --setting_Button_span: #c2c2c2;
    --setting_options_button: #02010C;
    --setting_options_button_svg: #c2c2c2;
    --setting_options_button_svg_hover: #ffffff;
    --search_input: rgb(227, 171, 14);
    --search_input_2: #02010C;
    --search_input_3: #c2c2c2;
    --wrap_search_label: #E9E9E9;
    --ctr_3-stroke: #e9e9e9;
    --elps_fill_4: #02010c;
    --elps_stroke_4: #e9e9e9;
    --extradition: #000000;
    --extradition_2: rgb(227, 171, 14);
    --extradition_svg_1: none;
    --extradition_svg_2: #E9E9E9;
    --extradition_svg_svg: #02010C;
    --extradition_text: #E9E9E9;
    --extradition_text_hover: #ffffff;

}

body.theme-light {
    --body: var(--light-body);
    --profile_User-border: var(--light-profile_User-border);
    --profile_options_button: var(--light-profile_options_button);
    --profile_options_button_svg: var(--light-profile_options_button_svg);
    --profile_options_button_svg_hover: var(--light-profile_options_button_svg_hover);
    --login_column_svg: var(--light-login_column_svg);
    --data-name_after: var(--light-data-name_after);
    --data-name_hover_after: var(--light-data-name_hover_after);
    --setting_Button_span: var(--light-setting_Button_span);
    --setting_options_button: var(--light-setting_options_button);
    --setting_options_button_svg: var(--light-setting_options_button_svg);
    --setting_options_button_svg_hover: var(--light-setting_options_button_svg_hover);
    --search_input: var(--light-search_input);
    --search_input_2: var(--light-search_input_2);
    --search_input_3: var(--light-search_input_3);
    --wrap_search_label: var(--light-wrap_search_label);
    --ctr_3-stroke: var(--light-ctr_3-stroke);
    --elps_fill_4: var(--light-elps_fill_4);
    --elps_stroke_4: var(--light-elps_stroke_4);
    --extradition: var(--light-extradition);
    --extradition_2: var(--light-extradition_2);
    --extradition_svg_1: var(--light-extradition_svg_1);
    --extradition_svg_2: var(--light-extradition_svg_2);
    --extradition_svg_svg: var(--light-extradition_svg_svg);
    --extradition_text: var(--light-extradition_text);
    --extradition_text_hover: var(--light-extradition_text_hover);

}

.container-main {
    margin: 70px auto;
    width: 80%;
    height: 500px;
    max-width: 1700px;
    min-width: 700px;

}

.header_row {
    margin: 0 auto;
    width: 100%;
    height: 100px;

}

.profile_column {
    display: flex;
    width: 70px;
    height: 330px;

}

.profile_User {
    width: 62px;
    height: 62px;
    border: 2.5px solid var(--profile_User-border);
    border-radius: 50px;
    cursor: pointer;

}

.profile_options {
    position: absolute;
    margin: 85px 13px;
    width: 30px;
    height: 40px;
    opacity: 0;
    z-index: -1;
    transition: .4s ease-in-out;
    transform: scale(0.80) translateY(-45px);

}

.profile_options.activeOptions {
    opacity: 1;
    z-index: 1;
    transform: scale(1) translateY(0);

}

.profile_options > button {
    margin-bottom: 25px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: var(--profile_options_button);
    cursor: pointer;

}

.profile_options > button > svg {
    fill: var(--profile_options_button_svg);

}

.profile_options > button > svg:hover {
    fill: var(--profile_options_button_svg_hover);

}

[data-name]::after {
    display: grid;
    position: absolute;
    margin: -25px 42px;
    width: 130px;
    content: attr(data-name);
    font-size: 15px;
    opacity: 0;
    color: var(--data-name_after);
    transition: 0.2s;
    pointer-events: none;
    justify-items: start;
}

[data-name]:hover::after {
    margin: -25px 56px;
    color: var(--data-name_hover_after);
    opacity: 1;
}

.login_column {
    margin: -340px auto;
    width: 218px;
    opacity: 1;
    transform: scale(1);
    transition: .3s ease-in-out;

}

.login_column > svg {
    fill: var(--login_column_svg);

}

.login_column.scrollLogo {
    opacity: 0;
    transform: scale(0.95);
    transition: .3s ease-in-out;

}

.setting_column {
    display: flex;
    margin-left: auto;
    margin-top: 277px;
    width: 70px;
    height: 330px;

}

.setting_Button {
    margin: 20px auto;
    width: 62px;
    height: 35px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.setting_Button > span {
    margin: auto;
    width: 40px;
    height: 5px;
    border-radius: 50px;
    background: var(--setting_Button_span);
    transition: .2s ease-in-out;

}

.setting_Button.animationBtn span:nth-child(1) {
    position: absolute;
    transform: rotate(40deg);
    margin: 15px 10px;

}

.setting_Button.animationBtn span:nth-child(2) {
    position: absolute;
    transform: scale(0.80);
    margin: 15px 10px;
    opacity: 0;

}

.setting_Button.animationBtn span:nth-child(3) {
    position: absolute;
    transform: rotate(-40deg);
    margin: 15px 10px;

}

.setting_options {
    position: absolute;
    margin: 85px 16px;
    width: 30px;
    height: 40px;
    opacity: 0;
    z-index: -1;
    transition: .4s ease-in-out;
    transform: scale(0.80) translateY(-45px);

}

.setting_options.activeSettingOptions {
    opacity: 1;
    z-index: 1;
    transform: scale(1) translateY(0);

}

.setting_options > button {
    margin-bottom: 25px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: var(--setting_options_button);
    cursor: pointer;

}

.setting_options > button > input[type=checkbox] {
    display: block;
    margin: 10px 15px;
    opacity: 0;
    padding: 0;
    width: 10px;
    cursor: pointer;
    position: absolute;
    transform: scale(2.5);
    border-radius: 0;

}

.setting_options > button > svg {
    fill: var(--setting_options_button_svg);

}

.setting_options > button > svg:hover {
    fill: var(--setting_options_button_svg_hover);

}

.section_row {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
    transition: .3s ease-in-out;
}

.section_row.scrollSection {
    margin: -90px auto;
    height: 90vh;

}

.section_row::-webkit-scrollbar {display: none;}

.search_input {
    display: flex;
    margin: 20px auto;
    width: 70%;
    height: 65px;
    border: 1px solid var(--search_input);
    border-radius: 21px;
    background: var(--search_input_2);
    transition: linear;
    align-items: center;

}

.search_input:hover,
.extradition:hover {
    -webkit-box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.10);
    -moz-box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.10);
    box-shadow: 0 6px 8px 0 rgba(34, 60, 80, 0.10);

}

.search_input.scroll {
    position: fixed;
    margin: 0 9.7%;
    width: 44.5%;
    transition: linear;

}

.search_input > svg {
    margin: auto 30px;

}#Контур_3 {
    fill: none;
    stroke: var(--ctr_3-stroke);
    stroke-linecap: round;
 }#Эллипс_2 {
    fill: var(--elps_fill_4);
    stroke: var(--elps_stroke_4);
   }

.wrap_search_input {
    margin: auto -4%;
    font-size: 19px;
    width: 80%;
    height: 2px;
    background: none;
    border: none;
    padding: 28px 25px;
    outline: none;

}

.wrap_search_label {
    position: absolute;
    margin: 0 79px;
    font-size: 21px;
    cursor: text;
    color: var(--wrap_search_label);

}

.wrap_search_input:valid,
.wrap_search_input:active {
    outline: none;
    border: none;

}

.wrap_search_input:valid + .wrap_search_label {
    display: block;

}

.wrap_extradition {
    display: grid;
    margin: 35px auto;
    width: 71.5%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}

.wrap_extradition.scrollExtradition {
    margin: 125px auto;

}

.extradition {
    width: 95%;
    margin-top: 25px;
    height: 250px;
    background: var(--extradition);
    border-radius: 21px;
    border: 1px solid var(--extradition_2);

}

.extradition_top {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.extradition_svg {
    display: flex;
    margin: 15px 15px;
    width: 59px;
    height: 59px;
    border: var(--extradition_svg_1);
    border-radius: 50px;
    background: var(--extradition_svg_2);
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
.extradition_svg > svg {
    fill: var(--extradition_svg_svg);

}


.extradition_text {
    font-size: 24px;
    color: var(--extradition_text);

}

.extradition_text:hover {
    color: var(--extradition_text_hover);
    cursor: pointer;

}
